[[ .urls ]] {
  reverse_proxy {
    [[ .to ]] [[ .upstream ]]

    [[ if .useHttps ]]
    transport http {
      tls
      [[ if .skipTlsVerify ]]tls_insecure_skip_verify[[ end ]]
    }
    [[ end ]]
  }
}