{
  admin localhost:2019

  log {
    output stdout
    level INFO
    format console
  }
}

(reverseProxyConfig) {
  header_up +X_FORWARDED_PORT 443
  lb_policy least_conn
  lb_try_duration 15s
  lb_try_interval 250ms
  fail_duration 5s
}

[[ range $domain, $serviceGroup := .wildcardServices ]]
[[ $domain ]] {
  encode zstd gzip

  [[ range $serviceIndex, $service := $serviceGroup.Services ]]
  @wildcard_[[ $serviceIndex ]] host [[ range $index, $element := $service.SrvUrls ]][[ if $index ]] [[ end ]][[ $element ]][[ end ]]
  handle @wildcard_[[ $serviceIndex ]] {
    reverse_proxy {
      [[ $service.To ]] [[ $service.Upstream ]]
      import reverseProxyConfig
      [[ if $service.UseHttps ]]
      transport http {
        tls
        [[ if $service.SkipTlsVerify ]]tls_insecure_skip_verify[[ end ]]
      }
      [[ end ]]
    }
  }
  [[ end ]]

  handle {
    [[ if not $serviceGroup.Upstream ]]
    abort
    [[ else ]]
    reverse_proxy {
      [[ $serviceGroup.To ]] [[ $serviceGroup.Upstream ]]
      import reverseProxyConfig
      [[ if $serviceGroup.UseHttps ]]
      transport http {
        tls
        [[ if $serviceGroup.SkipTlsVerify ]]tls_insecure_skip_verify[[ end ]]
      }
      [[ end ]]
    }
    [[ end ]]
  }
}
[[ end ]]

[[ range $service := .services ]]
[[ range $index, $element := $service.SrvUrls ]][[ if $index ]] [[ end ]][[ $element ]][[ end ]] {
  encode zstd gzip

  reverse_proxy {
    [[ $service.To ]] [[ $service.Upstream ]]
    import reverseProxyConfig
    [[ if $service.UseHttps ]]
    transport http {
      tls
      [[ if $service.SkipTlsVerify ]]tls_insecure_skip_verify[[ end ]]
    }
    [[ end ]]
  }
}
[[ end ]]
